#
# .gitignore
# SwiftTaggerID3
#
# Copyright ©2020 Nolaine Crusher. All rights reserved.
#

.DS_Store
*~
.build
Packages
.swiftpm
Validate\ (macOS).command
Validate\ (Linux).sh
*.xcodeproj
IDEWorkspaceChecks.plist
xcuserdata
*.profraw
